In [7]:
import pandas as pd

In [8]:
pd.__version__

'2.1.3'

In [9]:
products = ['A', 'B', 'C', 'D']
products

['A', 'B', 'C', 'D']

In [10]:
type(products)

list

# Series

### Convert the list into a series

In [11]:
product_categories = pd.Series(products)
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [12]:
type(product_categories)

pandas.core.series.Series

In [13]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [14]:
import numpy as np

In [15]:
array_a = np.array([10, 20, 30, 40])
array_a

array([10, 20, 30, 40])

In [16]:
type(array_a)

numpy.ndarray

In [17]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
dtype: int32

In [18]:
type(series_a)

pandas.core.series.Series

### working with attributes in python

In [19]:
series_a.dtype

dtype('int32')

In [20]:
series_a.size ## how many elements in the series

4

In [21]:
product_categories.dtype

dtype('O')

In [22]:
product_categories.size

4

In [23]:
product_categories.name = "Product Categories"#The name we want to be displayed
product_categories

0    A
1    B
2    C
3    D
Name: Product Categories, dtype: object

In [24]:
product_categories.name

'Product Categories'

### Using index in pandas

In [25]:
prices_per_category = {'A': 22250, 'B': 16600, 'C': 15600}
prices_per_category

{'A': 22250, 'B': 16600, 'C': 15600}

In [26]:
type(prices_per_category)

dict

In [27]:
prices_per_category = pd.Series(prices_per_category)
prices_per_category

A    22250
B    16600
C    15600
dtype: int64

In [28]:
type(prices_per_category)

pandas.core.series.Series

In [29]:
prices_per_category.index

Index(['A', 'B', 'C'], dtype='object')

### Label-based vs Position-based Indexing

In [30]:
series_a

0    10
1    20
2    30
3    40
dtype: int32

In [31]:
series_a.index

## Created implicitly using the function range()
## Position-based indexing

RangeIndex(start=0, stop=4, step=1)

In [32]:
prices_per_category

A    22250
B    16600
C    15600
dtype: int64

In [33]:
prices_per_category.index

## We explicitly creted the index
## label-based indexing

Index(['A', 'B', 'C'], dtype='object')

In [34]:
series_a[0]

10

In [35]:
prices_per_category['A']

22250

In [36]:
prices_per_category[0]

C:\Users\Lunary\AppData\Local\Temp\ipykernel_15800\1694906638.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prices_per_category[0]

22250

In [37]:
series_b = pd.Series([10, 20, 30, 40], index = [1, 2, 3, 4])
series_b

1    10
2    20
3    30
4    40
dtype: int64

In [38]:
series_b[0] ### we haven't assigned index 0

KeyError: 0

In [39]:
series_b[1]

10

In [40]:
series_c = pd.Series([10, 20, 30, 40], index = ["1", "2", "3", "4"])
series_c

1    10
2    20
3    30
4    40
dtype: int64

In [41]:
series_c[1]

C:\Users\Lunary\AppData\Local\Temp\ipykernel_15800\2194739140.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_c[1]

20

In [43]:
series_c["1"]

10

In [44]:
series_c[0]

C:\Users\Lunary\AppData\Local\Temp\ipykernel_15800\2113565685.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series_c[0]

10

In [45]:
prices_per_category

A    22250
B    16600
C    15600
dtype: int64

### Using pandas series methods (mathematical)

In [46]:
start_date_deposits = pd.Series({
    '7/4/2014' : 2000,
    '1/2/2015' : 2000,
    '12/8/2012' : 1000,
    '2/20/2015' : 2000,
    '10/28/2013' : 2000,
    '4/19/2015' : 2000,
    '7/4/2016' : 2000,
    '4/24/2014' : 2000,
    '9/3/2015' : 4000,
    '7/25/2016' : 2000,
    '5/1/2014' : 2000,
    '3/29/2013' : 2000,
    '10/3/2014' : 2000,
    '9/18/2015' : 2500
})

In [47]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [48]:
start_date_deposits.sum()

29500

In [49]:
start_date_deposits.min()

1000

In [50]:
start_date_deposits.max()

4000

In [51]:
start_date_deposits.idxmax()   ## The index of the highest value in the data

'9/3/2015'

In [52]:
start_date_deposits.idxmin()

'12/8/2012'

### Using pandas series methods (non-mathematical)

In [53]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [54]:
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

In [55]:
start_date_deposits.head(n=3)

## n is a parameter of the function .head(), 3 is a passed argument

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

# DataFrames

### Creating dataframes from scratch

### #1. Construct a dataframe from a dictionary of lists

In [56]:
data = {'ProductName' : ['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

### #2. Construct a dataframe from a dictionary of lists + Specify the index

In [57]:
data = {'ProductName' : ['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
df = pd.DataFrame(data, index = ['A', 'B', 'C'])
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

### #3. Construct a dataframe from a list of dictionaries

In [58]:
data = [{'ProductName':'Product A', 'ProductPrice':22250},
         {'ProductName':'Product B', 'ProductPrice':16600},
         {'ProductName':'Product C', 'ProductPrice':12500}]

df = pd.DataFrame(data)
df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [59]:
data = [{'ProductName':'Product A', 'ProductPrice':22250},
         {'ProductName':'Product B', 'ProductPrice':16600},
         {'ProductName':'Product C', 'ProductPrice':[12500, 10000]}]

df = pd.DataFrame(data)
df

  ProductName    ProductPrice
0   Product A           22250
1   Product B           16600
2   Product C  [12500, 10000]

### #4. Construct a dataframe from a dictionary of pandas series

In [60]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'])
ser_prices = pd.Series([22250, 16600, 12500])

data = {'ProductName': ser_products, 'ProductPrice': ser_prices}
df = pd.DataFrame(data)

df

  ProductName  ProductPrice
0   Product A         22250
1   Product B         16600
2   Product C         12500

In [61]:
ser_products = pd.Series(['Product A', 'Product B', 'Product C'], index = ['A', 'B', 'C'])
ser_prices = pd.Series([22250, 16600, 12500], index = ['A', 'B', 'C'])

data = {'ProductName': ser_products, 'ProductPrice': ser_prices}
df = pd.DataFrame(data)
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

### 5. Construct a dataframe from a list of lists

In [62]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df

           0      1
0  Product A  22250
1  Product B  16600
2  Product C  12500

In [63]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500, 1000]]
df = pd.DataFrame(data)
df

           0      1       2
0  Product A  22250     NaN
1  Product B  16600     NaN
2  Product C  12500  1000.0

In [64]:
data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]]
df = pd.DataFrame(data)
df.columns = ['ProductName', 'ProductPrice']
df.index = ['A', 'B', 'C']
df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

### #6. Construct a dataframe in a professional way

In [65]:
df = pd.DataFrame(data = [['Product A', 22250], ['Product B', 16600], ['Product C', 12500]],
                 columns = ['ProductName', 'ProductPrice'],
                 index = ['A', 'B', 'C'])

df

  ProductName  ProductPrice
A   Product A         22250
B   Product B         16600
C   Product C         12500

In [66]:
df.shape

(3, 2)

## Pandas Series: .unique() and .nununique()

In [67]:
data = pd.read_csv('Location.csv')
location_data = data.copy()
location_data = location_data.squeeze()
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [68]:
type(location_data)

pandas.core.series.Series

In [69]:
location_data.describe()

## indicates that there are 1043 values, 296 of which are unique
## the string "Location 25" is most frequent value with frequency of 31

count            1043
unique            296
top       Location 25
freq               31
Name: Location, dtype: object

In [70]:
len(location_data)

1043

In [71]:
location_data.nunique()

## returns the number of unique values, hence the (n) in nunique

296

In [72]:
location_data.unique()

## returns the unique values themselves in the order they appeared in the dataset

array(['Location 3', 'Location 6', 'Location 8', 'Location 26',
       'Location 34', 'Location 25', 'Location 46', 'Location 156',
       'Location 21', 'Location 13', 'Location 579', 'Location 602',
       'Location 10', 'Location 44', 'Location 30', 'Location 48',
       'Location 196', 'Location 64', 'Location 91', 'Location 62',
       'Location 75', 'Location 42', 'Location 233', 'Location 95',
       'Location 78', 'Location 61', 'Location 87', 'Location 19',
       'Location 115', 'Location 350', 'Location 377', 'Location 17',
       'Location 113', 'Location 81', 'Location 58', 'Location 212',
       'Location 53', 'Location 337', 'Location 41', 'Location 632',
       'Location 73', 'Location 214', 'Location 218', 'Location 38',
       'Location 172', 'Location 197', 'Location 101', 'Location 185',
       'Location 129', 'Location 235', 'Location 142', 'Location 50',
       'Location 76', 'Location 11', 'Location 33', 'Location 22',
       'Location 145', 'Location 203', 'Location 94', 'Location 573',
       'Location 27', 'Location 186', 'Location 4', 'Location 70',
       'Location 45', 'Location 262', 'Location 111', 'Location 84',
       'Location 108', 'Location 7', 'Location 74', 'Location 450',
       'Location 47', 'Location 37', 'Location 43', 'Location 286',
       'Location 89', 'Location 24', 'Location 97', 'Location 144',
       'Location 40', 'Location 128', 'Location 169', 'Location 399',
       'Location 23', 'Location 191', 'Location 178', 'Location 510',
       'Location 600', 'Location 188', 'Location 67', 'Location 49',
       'Location 29', 'Location 222', 'Location 386', 'Location 88',
       'Location 104', 'Location 405', 'Location 114', 'Location 259',
       'Location 182', 'Location 12', 'Location 228', 'Location 149',
       'Location 90', 'Location 109', 'Location 441', 'Location 421',
       'Location 641', 'Location 195', 'Location 20', 'Location 161',
       'Location 117', 'Location 200', 'Location 106', 'Location 31',
       'Location 122', 'Location 541', 'Location 495', 'Location 193',
       'Location 39', 'Location 9', 'Location 86', 'Location 107',
       'Location 198', 'Location 318', 'Location 135', 'Location 177',
       'Location 32', 'Location 591', 'Location 488', 'Location 418',
       'Location 587', 'Location 454', 'Location 543', 'Location 489',
       'Location 60', 'Location 52', 'Location 548', 'Location 15',
       'Location 240', 'Location 658', 'Location 209', 'Location 151',
       'Location 192', 'Location 364', 'Location 18', 'Location 503',
       'Location 482', 'Location 460', 'Location 71', 'Location 69',
       'Location 258', 'Location 204', 'Location 124', 'Location 168',
       'Location 35', 'Location 296', 'Location 136', 'Location 28',
       'Location 153', 'Location 99', 'Location 132', 'Location 427',
       'Location 118', 'Location 127', 'Location 159', 'Location 154',
       'Location 175', 'Location 120', 'Location 82', 'Location 152',
       'Location 56', 'Location 282', 'Location 566', 'Location 365',
       'Location 353', 'Location 66', 'Location 2', 'Location 323',
       'Location 473', 'Location 206', 'Location 57', 'Location 68',
       'Location 166', 'Location 1', 'Location 227', 'Location 79',
       'Location 642', 'Location 105', 'Location 644', 'Location 547',
       'Location 637', 'Location 59', 'Location 574', 'Location 529',
       'Location 554', 'Location 275', 'Location 589', 'Location 160',
       'Location 410', 'Location 146', 'Location 221', 'Location 265',
       'Location 569', 'Location 157', 'Location 648', 'Location 165',
       'Location 651', 'Location 266', 'Location 77', 'Location 158',
       'Location 336', 'Location 72', 'Location 463', 'Location 253',
       'Location 5', 'Location 431', 'Location 515', 'Location 226',
       'Location 140', 'Location 110', 'Location 202', 'Location 634',
       'Location 138', 'Location 217', 'Location 443', 'Location 627',
       'Location 123', 'Location 528', 'Location 357', 'Location 187',
       'Location 315', 'Location 112', 'Location 302', 'Location 194',
       'Location 332', 'Location 208', 'Location 179', 'Location 199',
       'Location 201', 'Location 174', 'Location 474', 'Location 184',
       'Location 63', 'Location 512', 'Location 403', 'Location 436',
       'Location 210', 'Location 468', 'Location 464', 'Location 98',
       'Location 102', 'Location 325', 'Location 267', 'Location 173',
       'Location 617', 'Location 141', 'Location 300', 'Location 216',
       'Location 506', 'Location 647', 'Location 402', 'Location 239',
       'Location 54', 'Location 137', 'Location 477', 'Location 586',
       'Location 472', 'Location 374', 'Location 458', 'Location 180',
       'Location 653', 'Location 16', 'Location 612', 'Location 505',
       'Location 631', 'Location 299', 'Location 65', 'Location 342',
       'Location 155', 'Location 511', 'Location 461', 'Location 244',
       'Location 207', 'Location 597', 'Location 352', 'Location 533',
       'Location 384', 'Location 80', 'Location 171', 'Location 143',
       'Location 576', 'Location 139', 'Location 125', 'Location 181'],
      dtype=object)

## Pandas Series: .values, .array and .to_numpy()

In [73]:
import numpy as np

In [74]:
prices_per_category

A    22250
B    16600
C    15600
dtype: int64

In [75]:
prices_per_category.values

## advised in the pandas doc to not be used ----> instead we use .array

array([22250, 16600, 15600], dtype=int64)

In [76]:
type(prices_per_category.values)

numpy.ndarray

In [77]:
prices_per_category.array

## was built on top of the numpy array

<NumpyExtensionArray>
[22250, 16600, 15600]
Length: 3, dtype: int64

In [78]:
prices_per_category.to_numpy()

## converting a series to a classical numpy array allows us to proceed with mathematical/statistical
## computatiopns of further preprocessing

array([22250, 16600, 15600], dtype=int64)

In [79]:
type(prices_per_category.to_numpy())

numpy.ndarray

In [80]:
test_array = prices_per_category[['A', 'B']].to_numpy(dtype='float')
test_array

array([22250., 16600.])

In [81]:
type(test_array[0])

numpy.float64

###  TO SUMMERIZE: 

##### .array --> will convert the series into pandas array
#### .to_numpy() --> will organize our info into a pure numpy array structure

## Pandas Series: .sort_values()

In [82]:
numbers = pd.Series([15, 1000, 23, 45, 444])
numbers

0      15
1    1000
2      23
3      45
4     444
dtype: int64

In [83]:
numbers.sort_values()

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [84]:
numbers.sort_values(ascending = True)

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [85]:
numbers.sort_values(ascending = False)

1    1000
4     444
3      45
2      23
0      15
dtype: int64

In [86]:
location_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [87]:
location_data.sort_values()

## since the dtype is object not integer, therefore the data is not sorted numerically
## loc 1, loc 10, loc 1000 NOT loc1, loc2, loc 3

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [88]:
location_data.sort_values(ascending = True)

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [89]:
location_data.sort_values(ascending = False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

## Atribute and method chaining

In [90]:
location_data.index

RangeIndex(start=0, stop=1043, step=1)

In [91]:
location_data.name

'Location'

In [92]:
location_data.index.name

## no output bc .index.name refers to the name of the index column which doesn't exist

In [93]:
location_data.index.name = 'Index'
location_data

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [94]:
location_data.index.name

'Index'

In [95]:
location_data.sort_values()

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [96]:
location_data.sort_values().head(7)

Index
637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
56     Location 10
298    Location 10
Name: Location, dtype: object

In [97]:
location_data.sort_values().tail()

Index
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, dtype: object

In [98]:
location_data.index

RangeIndex(start=0, stop=1043, step=1, name='Index')

In [99]:
type(location_data.index)

pandas.core.indexes.range.RangeIndex

In [100]:
location_data.index.to_numpy()

array([   0,    1,    2, ..., 1040, 1041, 1042], dtype=int64)

## Pandas Series: .sort_index()

In [101]:
location_data.sort_values(ascending = False)

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [102]:
location_data_sv = location_data.sort_values(ascending = False)
location_data_sv.head()

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [103]:
location_data_sv.index

Index([ 372,  757,  128,  482,  271,  669,  612,   29,  518,  598,
       ...
        904,  912, 1010,   14,  716,  202,  298,  637,  884,  465],
      dtype='int64', name='Index', length=1043)

In [104]:
location_data_sv.index = location_data_sv.index.sort_values()

In [105]:
location_data_sv

Index
0       Location 99
1       Location 98
2       Location 97
3       Location 97
4       Location 97
           ...
1038    Location 10
1039    Location 10
1040     Location 1
1041     Location 1
1042     Location 1
Name: Location, Length: 1043, dtype: object

In [106]:
location_data_sv = location_data.sort_values(ascending = False)
location_data_sv.head()

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
Name: Location, dtype: object

In [107]:
location_data_sv.sort_index()

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [108]:
location_data_sv

Index
372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [109]:
location_data_sv = location_data_sv.sort_index(ascending = True)
location_data_sv

Index
0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

## Back to DataFrames

In [110]:
array_a = np.array([[3, 2, 1], [6, 3, 2]])
array_a

array([[3, 2, 1],
       [6, 3, 2]])

In [111]:
pd.DataFrame(array_a)

   0  1  2
0  3  2  1
1  6  3  2

In [112]:
type(pd.DataFrame(array_a))

pandas.core.frame.DataFrame

In [113]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'], index = ['Row 1', 'Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

In [114]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [115]:
type(lending_co_data)

pandas.core.frame.DataFrame

In [116]:
lending_co_data.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
      dtype='int64', name='LoanID', length=1043)

In [117]:
lending_co_data.columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [118]:
lending_co_data.axes

## headers of all columns AND rows

[Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
        ...
        1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
       dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
        'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
       dtype='object')]

In [119]:
lending_co_data.dtypes

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [120]:
lending_co_data.values   ## (ADVISED AGAINST)

## the values of each row are stored in a 1D array and all the arrays are stored
## in a 2D outer array

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [121]:
type(lending_co_data.values)

numpy.ndarray

In [122]:
lending_co_data.to_numpy()   ## (BETTER WAY TO DO IT)

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [123]:
type(lending_co_data.to_numpy())

numpy.ndarray

In [124]:
lending_co_data.shape

## index columns is not included

(1043, 14)

In [125]:
len(lending_co_data.columns)

## index columns is not included

14

### Data Selection

In [126]:
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [127]:
lending_co_data.Product

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [128]:
lending_co_data['Product']

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [129]:
type(lending_co_data['Location'])

pandas.core.series.Series

In [130]:
lending_co_data[['Location']]

           Location
LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
...             ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94

[1043 rows x 1 columns]

In [131]:
type(lending_co_data[['Location']])

pandas.core.frame.DataFrame

In [132]:
lending_co_data[['Location', 'Product']].head()

           Location    Product
LoanID
1        Location 3  Product B
2        Location 6  Product D
3        Location 8  Product B
4       Location 26  Product A
5       Location 34  Product B

In [133]:
prod_loc = ['Location', 'Product']
lending_co_data[prod_loc].head()

           Location    Product
LoanID
1        Location 3  Product B
2        Location 6  Product D
3        Location 8  Product B
4       Location 26  Product A
5       Location 34  Product B

In [134]:
lending_co_data['Location', 'Product']

## Error bc single square brackets are used

KeyError: ('Location', 'Product')

## Indexing data with .iloc[]

In [136]:
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [137]:
lending_co_data[1]

## We have to explicitly type the name of the column and not it's position

KeyError: 1

In [138]:
lending_co_data['Product']

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [139]:
lending_co_data.iloc[1]

# gives the values of the second row for all columns

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [140]:
lending_co_data.iloc[1, 3]

## column specifier

'Location 6'

In [141]:
lending_co_data.iloc[1,:]

## same as .iloc[1]

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [142]:
lending_co_data.iloc[:, 3]

## gives all rows of the third column

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [143]:
lending_co_data.iloc[[1, 3], :]

## All columns in the second and fourth rows

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [144]:
lending_co_data.iloc[:, [1, 3]]

## All rows for second and fourth coluns

          Product     Location
LoanID
1       Product B   Location 3
2       Product D   Location 6
3       Product B   Location 8
4       Product A  Location 26
5       Product B  Location 34
...           ...          ...
1039    Product B  Location 73
1040    Product A  Location 82
1041    Product A  Location 11
1042    Product B  Location 26
1043    Product A  Location 94

[1043 rows x 2 columns]

## Indexing data with .loc[]

In [145]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [146]:
lending_co_data.loc['LoanID_3']

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [147]:
lending_co_data.loc['LoanID_3', :]

LoanID                     3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: LoanID_3, dtype: object

In [148]:
lending_co_data.loc['LoanID_3', 'Region']

'Region 3'

In [149]:
lending_co_data.loc['Location']

## it thinks we need to access a row called location which doesn't exist
## hence the error

KeyError: 'Location'

In [150]:
lending_co_data.loc[:, 'Location']

StringID
LoanID_1        Location 3
LoanID_2        Location 6
LoanID_3        Location 8
LoanID_4       Location 26
LoanID_5       Location 34
                  ...
LoanID_1039    Location 73
LoanID_1040    Location 82
LoanID_1041    Location 11
LoanID_1042    Location 26
LoanID_1043    Location 94
Name: Location, Length: 1043, dtype: object

### A few comments on using .loc[] and .iloc[]

In [153]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [154]:
lending_co_data.shape

(1043, 14)

In [155]:
lending_co_data.iloc[1043, :]

IndexError: single positional indexer is out-of-bounds

In [156]:
lending_co_data.iloc[:, 14]

IndexError: single positional indexer is out-of-bounds

In [157]:
## THE PAST TWO ERRORS IS BC THE INDEX STARTS FROM ZERO NOT 1

In [158]:
lending_co_data.iloc[:, 13]

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [160]:
lending_co_data.iloc[:, -1]

LoanID
1                 Active
2                 Active
3                    NaN
4                 Active
5                 Active
              ...
1039    Finished Payment
1040    Finished Payment
1041    Finished Payment
1042    Finished Payment
1043    Finished Payment
Name: LoanStatus, Length: 1043, dtype: object

In [161]:
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [163]:
lending_co_data['TotalPrice'].iloc[0, :]

## you can  apply .iloc[] and .loc[] to a series ONLY specifying the row indexer (never the column indexer)

IndexingError: Too many indexers

In [164]:
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [165]:
lending_co_data['TotalPrice'][0]

## since the index column is set expicitly (and it starts by 1)
## therefore, python automatically treat its values as labels

KeyError: 0

In [166]:
lending_co_data['TotalPrice'][1]

17600.0

In [167]:
lending_co_data['TotalPrice'].loc[1]

17600.0

In [168]:
data = pd.read_csv('Lending-company.csv', index_col = 'StringID')
lending_co_data = data.copy()
lending_co_data.head()

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_2,2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
LoanID_3,3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
LoanID_4,4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
LoanID_5,5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [170]:
lending_co_data['TotalPrice'].iloc[0]

17600.0

In [172]:
lending_co_data['TotalPrice'].loc['LoanID_1']

17600.0

In [173]:
lending_co_data['TotalPrice'][0]

## chained indexing
## Advised against

C:\Users\Lunary\AppData\Local\Temp\ipykernel_15800\1605309455.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_co_data['TotalPrice'][0]

17600.0

In [174]:
lending_co_data['TotalPrice'][1]

C:\Users\Lunary\AppData\Local\Temp\ipykernel_15800\165894374.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_co_data['TotalPrice'][1]

nan

In [175]:
lending_co_data['TotalPrice']['LoanID_1']

17600.0

In [177]:
lending_co_data.iloc[0][5]

## chained indexing as well
## first row, sixth column

C:\Users\Lunary\AppData\Local\Temp\ipykernel_15800\1538933843.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  lending_co_data.iloc[0][5]

17600.0

In [179]:
lending_co_data.iloc[0, 5]

17600.0

In [181]:
lending_co_data.iloc[[0,5]]

## first and sixth rows and all columns

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [182]:
lending_co_data.iloc[[0,5], :]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [183]:
lending_co_data['TotalPrice']['LoanID_1']

17600.0

In [185]:
lending_co_data.loc['LoanID_1', 'TotalPrice']

17600.0

In [187]:
lending_co_data.loc[['LoanID_1', 'LoanID_6']]

## advised approach
## no column names

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [188]:
lending_co_data.loc[['LoanID_1', 'LoanID_6'], :]

,LoanID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
StringID,,,,,,,,,,,,,,
LoanID_1,1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
LoanID_6,6,Product A,Male,Location 34,Region 1,NaN,19/04/2019,2200,45,365,3301,4066,15141,Active

In [189]:
lending_co_data.TotalPrice['LoanID_1']

17600.0

In [190]:
lending_co_data['TotalPrice'].iloc[[0,5]]

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64

In [191]:
lending_co_data.loc[:, 'TotalPrice'].iloc[[0,5]]

## advised approach

StringID
LoanID_1    17600.0
LoanID_6        NaN
Name: TotalPrice, dtype: float64

In [193]:
## best approach to obtain certain subsets of the data is to always be explicit
## about it in the code and to use iloc and loc indexers